body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Monaco', monospace;
  margin: auto; /* Adjusted to 'auto' to center elements */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1"><filter id="distort"><feTurbulence type="fractalNoise" baseFrequency=".5" numOctaves="10" result="warp"></feTurbulence><feDisplacementMap xChannelSelector="R" yChannelSelector="G" scale="15" in="SourceGraphic" result="warp"></feDisplacementMap><feBlend mode="multiply" in="warp" in2="SourceGraphic"></feBlend></filter></svg>') 0 0 repeat;
  z-index: 9997;
  width: 90%;
}

.logo {
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.search-bar {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 30px;
}

.search-input {
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 10px;
    font-family: 'Monaco', monospace;
    font-size: 16px;
    width: 100%;
}

.search-input:focus {
    outline: none;
}

.search-history {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-history-item {
    cursor: pointer;
    margin-bottom: 5px;
    color: #808080; /* Grey color for the history item */
}

nav {
    padding: 10px;
    text-align: center;
    position: fixed; /* Position the nav fixed at the top */
    top: 0; /* Place it at the top */
    left: 0;
    right: 0; /* Stretch it to the full width */
 
    z-index: 9999; /* Ensure it's above other content */
}

nav a {
    color: rgb(255, 0, 0);
    text-decoration: underline;
    font-weight: bold;
    margin: 0 10px;
}

#icon {
    cursor: pointer;
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
}

#icon svg {
    width: 24px;
    height: 24px;
}
.crt {
    /* scanlines */
      background: linear-gradient(to top, #000000, #000000, #333333, #333333);
      background-size: cover;
      background-size: 100% 2px;
      filter: blur(.5px);
    
    
    
    }
  @media screen{
    .crt {
      animation: scanlines infinite 55s linear ;
    }
  } 
  @keyframes scanlines {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 0 -10px;
    }
  }
  #rss-widget {
    max-width: 300px;
    margin: 20px 20px 20px 0;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto; /* Add scrollbar for overflow */
    background-color: #000000;
   
}
#rss-widget h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
#rss-list {
    list-style: none;
    padding: 0;
}
#rss-list li {
    margin-bottom: 10px;
}